<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <pipelines>
      <initialize>

        <!-- Item to data model profiles registration -->
        <processor type="Sitecore.AutoMapper.Configuration.Pipelines.Initialize.ItemToDataModelProfilesRegistration, Sitecore.AutoMapper.Configuration">
          <!--<models hint="raw:AddModel">
            --><!-- 
              Specify all the models that are mapped from Sitecore items
              
              <model> Model full type name, Assembly </model>
            --><!--
          </models>-->
        </processor>
        
      </initialize>
    </pipelines>

  </sitecore>
</configuration>
